
h1{
    font-size: 100px;
    cursor: pointer;
}
.small{
    font-size: 80%;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }
 
  *::after {
      text-shadow: none !important;
      box-shadow: none !important;
    }